* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #717171;
  background-image: url(assets/img/bg.jpg);
}
.main {
  padding-top: 50px;
}
.container {
  margin: 0 auto;
  width: 400px;
}
.timer {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
}

#timerDisplay {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}

span {
  font-weight: bold;
}
