* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #717171;
}
span {
  font-weight: bold;
}
.main {
  padding-top: 50px;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.timer {
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#timerDisplay {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}
.timerDisplay-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 62px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.timerDisplay-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background: #333;
  background-image: url(assets/img/bg_d.jpg);
  color: #fff;
}

.light-mode {
  background: #fff;
  background-image: url(assets/img/bg_l.jpg);
  color: #333;
}
.dark-mode h1,
.dark-mode p {
  color: #aaa;
}
.s-dark-mode {
  color: orangered;
}
.s-light-mode {
  color: gray;
}

.light-mode h1,
.light-mode p {
  color: #666;
}
.dark-mode button {
  background: #444;
  color: #ccc;
  border: 1px solid #555;
}

.light-mode button {
  background: #f8f8f8;
  color: #333;
  border: 1px solid #ccc;
}
